
@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Valley Sans", sans-serif;
}
